= form_for @album, :html => {:multipart => true} do |f|
  -if @album.errors.any?
    #error_explanation
      %h2= "#{pluralize(@album.errors.count, "error")} prohibited this album from being saved:"
      %ul
        - @album.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :artist_id
    %br/
    = f.collection_select :artist_id, current_user.artists, :id, :name
  .field
    = f.label :title
    %br/
    = f.text_field :title
  .field
    = f.label :released_at
    %br/
    = f.text_field :released_at
  .field
    = f.label :cover
    %br/
    = f.file_field :cover
    
  = f.fields_for :tracks do |t|
    .field
      = t.label :title, "Track title"
      %br/
      = t.text_field :title
    .field
      = t.label :length, "Track length"
      %br/
      = t.text_field :length
      
  .actions
    = f.submit
