.album
  = image_tag @album.cover.url(:medium), :class => "album_cover"
  .content
    %strong= @album.title
    %br/
    %p= "by #{@album.artist.name}"
    %p= "Released at: #{@album.released_at}"
  
%table#tracks
  %thead
    %tr
      %th Title
      %th Length/Duration

  %tbody
    - @album.tracks.each do |track|
      %tr      
        %td= track.title
        %td= track.length
   
%h2 Comments     
#comments
  - @album.comments.each do |comment|
    %p= comment.text
  %hr/
  = form_for @album.comments.build do |f|
    = f.hidden_field :commentable_id, :value => @album.id
    = f.hidden_field :commentable_type, :value => "Album"
    = f.label :text, "Comment text"
    %br/
    = f.text_area :text
    .actions
      = f.submit

= link_to 'Back', albums_path
\|
= link_to 'Edit', edit_album_path(@album) if @album.user == current_user
